@charset "utf-8";
/* CSS Document */
body	{
	padding-left:0;
	padding-right:0;
}

.container {
	margin:auto;
}
.row {
	margin-right: 15px;
	margin-left: 15px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"DIN Engschrift Std";
}

.font-share{
	font-family:"DIN Engschrift Std";
  /*font-size:150%;*/
  transform:scale(1,1.6); /* W3C */
    -webkit-transform:scale(1,1.6); /* Safari and Chrome */
    -moz-transform:scale(1,1.6); /* Firefox */
    -ms-transform:scale(1,1.6); /* IE 9 */
    -o-transform:scale(1,1.6); /* Opera */
}

.font-ptsans{
  font-family: 'PT Sans Narrow', sans-serif;
}

.font-chewy{
  font-family: 'Chewy', cursive;

  transform:scale(1,1.6); /* W3C */
    -webkit-transform:scale(1,1.6); /* Safari and Chrome */
    -moz-transform:scale(1,1.6); /* Firefox */
    -ms-transform:scale(1,1.6); /* IE 9 */
    -o-transform:scale(1,1.6); /* Opera */
}

.no-margin-bottom{
  margin-bottom: 0px;
}

a:hover	{
	color:#f26522;
	text-decoration:none;
}

.font	{
	font-family:"DIN Engschrift Std";
	font-size:22px;
	color:#242021;
	letter-spacing:1px;
}

@font-face 	{
	font-family:"DIN Engschrift Std";
	src:url(../fonts/DINEngschriftStd.otf);

}


.stream-video {
	position: relative;
	margin: auto;

}

.separator-landscape	{
	max-height:55px;

}
.separator-potrait	{
	max-height:300px;
	float:right;
	display:none;

}
.blue	{
	
	background-color:#dedede;
}
.window-chat	{
	height:300px;
	alignment-baseline:hanging;
	background-color:#dedede;
	margin:auto;
	padding-top:5px;	
}
.chat-view	{
	padding:20px;
	margin:10px;
	height:220px;
	overflow-y: scroll;
	white-space: inherit;
}

/* overflow */


#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	/*width: 12px;*/
	width: 10px;
	background-color: #transparent;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3888ff;
}

.chat-view li	{
	text-decoration:none;
	list-style-type:none;
}

.chat-view p	{
	font-size:16px;
	text-align:left;
	margin-bottom:5px;
}

.panel-chat	{
	position:absolute;
	height:50px;
	vertical-align:bottom;
	bottom:0;
	
}

.username h1 {
	font-size:18px;
	color:#9d263f;
	text-align:left;
	margin:5px 0;
	
}
.username2 h1 {
	font-size:18px;
	color:#269018;
	text-align:left;
	margin:5px 0;
	
}
.username3 h1 {
	font-size:18px;
	color:#2346b8;
	text-align:right;
	margin:5px 0;
}
.username3 p {
	text-align:right;
	
}
.user-left	{
	font-size:12px !important;
	font-style:italic;
	color:#F00;
	text-align:center !important;
}

.user-join	{
	font-size:12px !important;
	font-style:italic;
	color:#0C0;
	text-align:center !important;
}

.moment	{
	font-size:12px !important;
	font-style:italic;
	color:#0d328e;
	margin-bottom:0;
}

.btn-send	{
	background:#3888ff;
	color:#fff;
	text-align:center;
	border-color: #aaa;
	letter-spacing:1px;
}
@media only screen and (max-width: 481px) {
.container {

	box-shadow: none;
	margin:auto;
}
.separator-landscape	{
	max-height:55px;
	display:block;

}

.separator-potrait	{
	max-height:55px;
	display:none;

}

}



@media (min-width: 482px) and (max-width: 767px) {

.container {

	box-shadow: none;
	margin:auto;
}


.separator-landscape	{
	max-height:55px;
	display:block;

}

.separator-potrait	{
	max-height:55px;
	display:none;

}



}




@media  (min-width: 768px) and (max-width: 1199px) {
.separator-potrait	{
	float:right;
	display:block;
	height: 300px !important;

}
.separator-landscape	{
	max-height:55px;
	display:none;

}

.img-responsive	{
	height:300px !important;
}

.stream-video {
	position: relative;
	margin: auto;
	display:flex;

}

	
}


